.rounded-list-item:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.rounded-list-item:last-of-type {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.foo:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.foo:last-of-type {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
